
body {
		background-image:url("fond5.png");				/*Image de fond*/
		background-size: 2200px, 2200px;				/*Taille de l'image de fond*/
		height:100%;									/*Hauteur du site*/
}


header{
		margin: 20px;									/*Marges Header*/
		text-align: center;								/*Aligner le texte*/
}


ul {
    list-style-type: none;								/*Pour retirer les puces*/
    overflow: hidden;									/*Le contenu est rogné et aucune barre de défilement n'est affichée.*/
	background-color: rgba(255, 99, 71, 0.2);			/*Couleur de la liste*/
	width:100%;											/*Largeur*/
	margin:auto;										/*marges*/
}




li a { 
		float: left;				/*Emplacement*/
		font-family:sans-serif;		/*Police*/
		color: black;				/*Couleur du texte dans la barre de navigation*/
		display: inline-block;		/*Blocs en ligne les uns à côté des autres*/
		text-align: center;			/*Centrer le texte*/
		padding: 14px 16px;			/*L'espace du bloc dans lequel il y a le lien pour aller vers une autre page*/
		font-size:35px;				/*Taille de la police*/
}



li a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {		/*Pour changer la couleur du "bloc" quand on passe la souris dessus*/
    background-color: rgb(255, 154, 124);								/*Couleur du bloc lorsque qu'on passe la souris dessus*/
}


aside{
		
		float:left;									/*Décalé à gauche de la page*/
		text-align:center;							/*Centrer le texte*/
		font-size : 7px;							/*Taille de la police*/
		margin-left:0%;								/*Taille de la marge à gauche*/
		width:25%;									/*Largeur*/
		height:55%;									/*Hauteur*/
		position:absolute;							/*Aside positionné de façon absolue*/
		background-color: rgb(52, 117, 193, 0.4);	/*Couleur du bloc Aside*/
}
aside:hover, .dropdown:hover .dropbtn, .dropdown-content aside:hover {		/*Pour changer la couleur du "bloc" quand on passe la souris dessus*/
    background-color: rgb(73, 150, 201, 0.2);								/*Couleur du bloc lorsque qu'on passe la souris dessus*/
}


marquee{											/*Texte défilant*/
		width: 100%;								/*Largeur du texte lorsqu'il défile*/
		height:90%;									/*Hauteur du texte lorsqu'il défile*/
		left:0px;									/*Postionnement du texte dans le bloc aside*/
		bottom:0px;									/*Postionnement du texte dans le bloc aside*/	
		color:black;								/*Couleur du texte défilant*/
		text-align:center;							/*Centrer le texte défilant*/
		font-family: sans-serif;					/*Police du texte défilant*/
		font-size:17px;								/*Taille de la police*/
		position:absolute;							/*Texte positionné de façon absolue*/
}





article{
		text-align:center;							/*Centrer le texte ou les élements de article (comme la video)*/
		margin-left:35%;							/*Taille de la marge à gauche*/
		margin-top:5%;								/*Taille de la marge en haut*/
		position:static;							/*Article positionné de façon statique*/
}

#text{
	color:black;									/*Couleur du texte*/
	font-family:sans-serif;							/*Police*/
	font-size:20px;									/*Taille de la police*/
	text-align:center;								/*Centrer le texte*/
}

h2.titre1{
	color:black;									/*Couleur du texte*/
	font-family:sans-serif;							/*Police*/
	font-size:35px;									/*Taille de la police*/
	text-align:center; 								/*Centrer le texte*/
}

video{
	max-width: 80%;									/*Taille de la video dans le bloc article*/								
}



footer{	
		float:bottom;								/*Décalé en bas de la page*/
		width:100%;									/*Largeur du footer*/
		padding-top:50px;							/*Marge intérieur du haut*/
}

#copyright{
		text-align : center;
		color: black;
}
#main{							
		max-width:1280px;							/*Largeur maximale de la partie principale de la page*/
		min-height:100%;							/*Hauteur minimale de la partie principale de la page*/
		margin:auto;								/*Marge extérieur equitables*/
		position:relative;							/*Position relative de la partie principale*/
}

