

body {
		background-image:url("fond5.png");				/*Image de fond*/
		background-size: 2500px, 2500px;				/*Taille de l'image de fond*/
		height:100%;									/*Hauteur du site*/
}


header{
		margin: 20px;									/*Marges Header*/
		text-align: center;								/*Aligner le texte*/
}


ul {
    list-style-type: none;								/*Pour retirer les puces*/
    overflow: hidden;									/*Le contenu est rogné et aucune barre de défilement n'est affichée.*/
	background-color: rgba(255, 99, 71, 0.2);			/*Couleur de la liste*/
	width:100%;											/*Largeur*/
	margin:auto;										/*Marges*/	
}



li a {
		float: left;									/*Emplacement*/
		font-family:sans-serif;							/*Police*/
		color: black;									/*Couleur du texte dans la barre de navigation*/
		display: inline-block;							/*Blocs en ligne les uns à côté des autres*/
		text-align: center;								/*Centrer le texte*/
		padding: 14px 16px;								/*L'espace du bloc dans lequel il y a le lien pour aller vers une autre page*/
		font-size:35px;									/*Taille de la police*/
}

li a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {		/*Pour changer la couleur du "bloc" quand on passe la souris dessus*/
    background-color: rgb(255, 154, 124);
}


fieldset{
	font-family: sans-serif;						/*Police*/
	border-color: rgba(255, 99, 71, 0.2);			/*Couleur de la bordure*/
}

form {
	width: 95%;
	font-family: sans-serif;						/*Police*/
	text-align: center;								/*Centrer le texte*/
}


#main{
		max-width:1280px;							/*Largeur maximale de la partie principale de la page*/
		min-height:100%;							/*Hauteur minimale de la partie principale de la page*/
		margin:0 auto;								/*Marge extérieur equitables*/
		position:relative;							/*Position relative de la partie principale*/
}

footer{	
		float:bottom;								/*Décalé en bas de la page*/
		width:100%;									/*Largeur du footer*/
		padding-top:50px;							/*Marge intérieur du haut*/
}

#copyright{
		text-align : center;
		color: black;
}